.code-wrapper {
  margin: 0 -.18rem 0;
  > div {
    width: 50%;
    float: left;
    height: 100%;
    padding: 10px 0 0 0;
    &.full {
      width: 100%;
    }
  }
  .code-control {
    float: right;
    font-weight: 900;
    margin-right: .5em;
    cursor: pointer;
    span {
      font-weight: inherit;
      opacity: 0;
    }
  }
  .code-control-ck:checked + div {
    .code-control span {
      opacity: 1;
    }
    // .code-head {
      // border-bottom: 1px solid #ddd;
      // border-radius: 2px 2px 0 0;
    // }
    pre {
      height: 24em;
      &.m {
        height: 16em;
      }
      &.s {
        height: 11em;
      }
    }
  }
  .code-head {
    position: relative;
    font-weight: 600;
    padding: .5em;
    margin: 0;
    background: #fafafa;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 0 #ddd;
    // border-radius: 2px;
    .svg-icon {
      vertical-align: top;
      height: 1.5em;
    }
    &.html {
      color: #e54d14;
    }
    &.scss {
      color: #cf6499;
    }
  }
  pre {
    height: 0em;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    transition: height 340ms;
    font-size: 12px;
    code {
      height: 100%;
      overflow: auto;
    }
  }
}